/* stylelint-disable max-line-length */
@font-face {
  font-family: 'DHLFont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/default-2d649dcaa71ff88f7b8a.woff2') format('woff2');
}

@font-face {
  font-family: 'DHLFont';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/default-4bcce82160b8c6f178f0.woff2') format('woff2');
}

@font-face {
  font-family: 'DHLFont';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/default-15a7ed37f53bdda49a82.woff2') format('woff2');
}

@font-face {
  font-family: 'DHLFont';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/default-b8062306a9c370ef50f5.woff2') format('woff2');
}

/* Optional: DHL Icon Font */
@font-face {
  font-family: 'DHLIconFont';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/iconfont-8e6d0b88b797ac15af11.woff2') format('woff2');
}
